div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 ReaderBoard
    p.lead Plan your readerboard message based on letters in your inventory.

.container(ng-controller='MainCtrl')
      .row.text-fields
        .col-md-5
          h2 message:
          textarea.form-control.message(rows='5',
            ng-model='textAreaData',
            ng-change='textAreaChanged()',
            ng-trim="false")
        .col-md-5.col-md-offset-2
          h2 preview:
          textarea.form-control.well.reader-board-preview(rows='3',
            readonly,
            ng-model='readerBoardText',
            ng-trim="false")
      .row
          hr
          h2 letter supply:
          .letter-availability-list

              ul.letter-availability-list(ng-repeat='readerBoardLetter in readerBoardLetters')
                .col-md-4
                  li(ng-style='availability') <b>{{readerBoardLetter.character}} :</b> {{readerBoardLetter.available}}


footer.footer
  .container
    .footer-copyright © 2014 Wyatt Lindsey, all rights reserved
