div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    .hero-unit-text
      h1 ReaderBoard
      p.lead Plan your readerboard message based on letters in your inventory.

.container(ng-controller='MainCtrl')
      .row.text-fields
        .col-md-5
          h2 message:
          textarea.form-control.message(rows='5',
            ng-model='textInput',
            ng-change='textInputChanged()',
            ng-trim="false",
            onkeydown='return stopTab(event);')
        .col-md-5.col-md-offset-2
          h2 preview:
          textarea.form-control.well.reader-board-preview(
            readonly,
            ng-model='readerBoardText',
            ng-trim="false")
      .row.letter-availability-list
          hr
          .col-sm-6
            h2 letter supply:
          .col-sm-6
            .row
              ul.letter-supply-controls.nav.nav-pills.pull-right
                li
                  a.btn.btn-lg.btn-success(href='/letters')
                    i.fa.fa-pencil-square-o &nbsp edit letter sets
                li
                  .dropdown.letter-set-selector
                    a.dropdown-toggle(data-toggle='dropdown', href='#', role='button', aria-expanded='false') Letter Sets&nbsp
                      span.caret
            .row
                .well.well-sm.no-more(ng-show='atLeastOneLetterIsOut')
                  h4 no more:
                  ul
                    li
                      span.no-more-letters(ng-repeat='noMoreLetter in noMoreLetters')
                        span {{noMoreLetter.character}}
                        span(ng-show='showComma(noMoreLetter, noMoreLetters)') &nbsp,
        .row
          ul.letter-availability-list(ng-repeat='readerBoardLetter in readerBoardLetters')
            .col-xs-12.col-sm-6.col-md-4
              li
                .col-xs-4.col-xs-push-2.col-md-2.col-md-push-0 <b>{{readerBoardLetter.character}}</b>
                .col-xs-4.col-xs-push-2.col-md-3.col-md-pull-0.number-available(ng-style='setColor(readerBoardLetter)') &nbsp {{readerBoardLetter.available}}


footer.footer
  .container
    .footer-copyright
      a(href='https://github.com/wyattlindsey/readerboard', target='_blank')
        i.fa.fa-github &nbsp <b>ReaderBoard</b>
      span &nbsp ©2014 Wyatt Lindsey
